:root {
    --primary-color: #FFC261;
    --secondary-color: #125E8A;
    --font-main: 'Raleway', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    font-family: var(--font-main);
    color: var(--secondary-color);
    background-color: #f8f9fa;
    margin-bottom: 60px;
}

/* Navbar */
.navbar-brand, .nav-link {
    color: var(--secondary-color) !important;
    font-weight: 700;
}

/* Buttons */
.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #0e4b6f;
    border-color: #0e4b6f;
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Cards (Quotes) */
.card {
    border: none;
    background-color: #fff;
    transition: transform 0.2s;
    border-left: 5px solid var(--primary-color);
}

.card:hover {
    transform: translateY(-5px);
}

.blockquote p {
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.blockquote-footer {
    color: #6c757d; /* Bootstrap muted */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-weight: 700;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--primary-color);
}